.blog-main-div {
  position: absolute;
  top: 0rem;
  width: 50rem;
  height: 100%;
  border: 1px solid  rgb(168, 168, 168);

  background-color: white;

  left: 50%;
  margin-left: -25rem;
}
.blog-header-div {
  position: relative;
  height: 5rem;

  border-bottom: 1px solid rgb(168, 168, 168);

  padding: 1rem;
}
.blog-header-div h1 {
  font-size: 4rem;
  margin: 0rem;
}

.blog-body-div {
  position: relative;
  padding: 1rem;
}

nav {
  position: relative;
  height: 2rem;

  border-bottom: 1px solid rgb(168, 168, 168);

  font-size: 1rem;
}
ul {
  margin: 0rem;
  list-style-type: none;
  padding: 0.3rem;
}
li {
  margin-right: 0.3rem;
  float: left;
}

nav button {
  border: 0;
  outline: 0;
  background-color: white;
}
nav button:hover {
  color: #ee5253;
}
nav button:active {
  color: black;
}