.intro-main-div {
  position: absolute;
  width: 50rem;
  height: 31.25rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;

  left: 50%;
  margin-left: -25rem;

  top: 50%;
  margin-top: -15.625rem;
}
.intro-main-div div {
  padding: 3rem 5rem 0rem 5rem;
}